.row
  %h1
    = "Output Task"
    .pull-right
      - if can? :create, OutputTask
        = link_to "New Output Task", new_output_task_path, class: "btn btn-primary"
  %hr
  = render partial: 'list'
