$("#inactive-farms").empty();
$("#inactive-farms").attr("id", "active-farms");
$("span.btn-farms-status").empty();
$("span.btn-farms-status").html("#{escape_javascript(render 'farms/buttons/show_inactive_farms')}");
$("#active-farms").append("#{escape_javascript(render 'farms_board', farms: @farms)}");