$("#active-farms").empty();
$('#active-farms').attr("id", "inactive-farms");
$("span.btn-farms-status").empty();
$("span.btn-farms-status").html("#{escape_javascript(render 'farms/buttons/show_active_farms')}");
$('#inactive-farms').append("#{escape_javascript(render 'farms_board', farms: @inactive_farms)}");