- if @notice
  - @farm.errors.full_messages.each_with_index do |msg, index|
    $(".msg-#{index}").addClass("alert custom-alert-msg").html("#{escape_javascript(msg)}");
- else
  $('#myModalAdd').modal('hide');
  $('.farm-baord').append("#{escape_javascript(render 'farm_board', farm: @farm)}");