:plain
	$(".form-modal").html("#{escape_javascript(render 'form', farm: @farm)}");
	$('#myModalAdd').modal('show');
	$('#myModalAdd').on('shown.bs.modal', function () {
		var map;
		var markers = [];
		var myLatlng = new google.maps.LatLng(#{@farm.latlong_farm});
		function initialize() {
			var mapOptions = {
				zoom: 15,
				center: myLatlng,
				streetViewControl: false
			};
			map = new google.maps.Map(document.getElementById('map-farm'), mapOptions);
			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				draggable: true
			});
			markers.push(marker);
			google.maps.event.addListener(marker, 'click', function() {
				marker.setMap(null);
				for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
				markers.splice(i, 1);
			});
			google.maps.event.addListener(marker, 'dragend', function(e) {
				$("#farm_latlong_farm").val(e.latLng.lat()+", "+e.latLng.lng());
			});
		}
		initialize();
	});
