:plain
  $("#nav_farm_#{@farm.uuid}").remove();
  $("#farm_#{@farm.uuid}").remove();
  $(".no-active-farm").remove();
  $(".nav_trigger").append("#{escape_javascript(render 'nav_farm', farms: @farm)}");
  if(!$("#inactive-farms").children().length){
    $("#inactive-farms").html("<div class='jumbotron text-center'>No Farms</div>");
  }
