.row
  %h1
    = "Locations Plan"
    .pull-right
      - if can? :create, PlanFarm
        = link_to "New Location Plan", new_plan_farm_path, class: "btn btn-primary"
  %hr
  = render partial: 'list'
