= form_for(warehouse_production_amount, html: {role: :form, :class => "form-horizontal"}) do |f|
  .form-group
    %label.col-xs-3.control-label Adjust Date:
    .col-xs-6
      %input#production_adjust_date{"data-date-format" => "YYYY-MM-DD", :class => "form-control", readonly: true, value: Date.today}
  .form-group
    %label.col-xs-3.control-label Warehouse:
    .col-xs-6
      %input.form-control{value: warehouse_production_amount.warehouse.name, readonly: true}
  .form-group
    %label.col-xs-3.control-label Production:
    .col-xs-6
      %input.form-control{value: warehouse_production_amount.production.status, readonly: true}
  .form-group
    %label.col-xs-3.control-label Quantity *
    .col-xs-6
      .input-group
        = f.text_field :amount, label: false, :style => "width:100%;height:33px;", error_html: { class: "err_msg" }
        %span.input-group-addon.uom-name
          = warehouse_production_amount.production.unit_of_measurement.name
  .form-group
    %label.col-xs-3.control-label Note
    .col-xs-6
      %textarea#production_note{:name => "production_note", :style => "width:100%"}
  .form-group.form-center
    .col-xs-12
      .pull-right
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        = f.submit "OK", :class => "btn btn-primary"