.row
  %h3
    = "Production Plans"
    .pull-right
      - if can? :create, ProductionPlan
        = link_to "New Production Plans", new_production_plan_path, class: "btn btn-primary"
  %hr
  = render partial: 'list'