.row
  %hr
  %h3
    = "Implements"
    .pull-right
      - if can? :create, Implement
        = link_to "New Implement", new_implement_path, class: "btn btn-primary"
  = render partial: 'list_implement', locals: {implements: implements}