.row
  %h1="Machinery"
= render partial: 'tractor', locals: {tractors: @tractors}
= render partial: 'implement', locals: {implements: @implements}
= render partial: 'maintenance', locals: {maintenances: @maintenances}
