= simple_form_for @planting_project, url: planting_projects_path, method: :get, html: {novalidate: true, class: 'form-inline'} do |f|
  .input-group.col-xs-5
    = f.input :project_name, as: :string, label: false, input_html: {class: "form-control", placeholder: "Search by project name"}
    .input-group-btn
      = f.submit :Search, class: "btn btn-default"
