$("#inactive-blocks").empty();
$('#inactive-blocks').attr("id", "active-blocks");
$("span.btn-blocks-status").empty();
$("span.btn-blocks-status").html("#{escape_javascript(render 'blocks/buttons/show_inactive_blocks')}");
for (label of labels){
label.setMap(null);
}
for (each_block of blocks) {
each_block.setMap(null)
}
infobox.close();
$('#active-blocks').append("#{escape_javascript(render 'blocks_board', blocks: @active_blocks)}");