:plain
  $('input#zone_name').focus(function(){
    $('.msg-name').removeClass('alert custom-alert-msg').empty();
  });
- if @zone.errors.any?
  - @zone.errors.messages.each do |key, msg|
    $(".msg-#{key}").addClass("alert custom-alert-msg").html("#{key.to_s.camelize} #{msg[0]}");
- else
  $('tbody').append("#{escape_javascript(render 'blocks/buttons/delete_zone_link', local: @zone)}");
  $('input#zone_name').val('');