- if @block.errors.any?
  - @block.errors.messages.each do |key, msg|
    $(".msg-#{key}").addClass("alert custom-alert-msg").html("#{key.to_s.camelize} #{msg[0]}");
- else
  $('#myModalAdd').modal('hide');
  $('.no-block').remove();
  $('.blocks-board').append("#{escape_javascript(render 'blocks/forms/block_board', block: @block)}");