.row
  %h3
    = "WarehouseType"
    .pull-right
      - if can? :create, WarehouseType
        = link_to "New WarehouseType", new_warehouse_type_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
