#calendar

/ #myModal.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
/   .modal-dialog.modal-lg
/     .modal-content
/       .modal-header
/         %button.close{"data-dismiss" => "modal", :type => "button"}
/           %span{"aria-hidden" => "true"} ×
/           %span.sr-only Close
/         %h4#myLargeModalLabel.modal-title Choose an Activity
/       .modal-body
/         .row
/           .activity-type-chooser-list
/             %form{ action: new_activity_path }
/               %input#current-date{:type => "hidden", name: "current-date"}
/               .col-md-6.col-md-offset-3
/                 %input.btn.btn-success.activity-pannel{type: "submit", value: "Set Up Activity" }
/               / .col-md-2
/               /   %input.btn.btn-danger.activity-pannel{type: "submit", value: "Planting", id: "btn-planting", name: "activity_type"}
/               / .col-md-2
/               /   %input.btn.btn-warning.activity-pannel{type: "submit", value: "Fertilizing", id: "btn-fertilizing", name: "activity_type"}
/               / .col-md-2
/               /   %input.btn.btn-danger.activity-pannel{type: "submit", value: "Harvesting", id: "btn-harvesting", name: "activity_type"}
/       .modal-footer
/         .pull-right
/           = submit_tag 'Cancel', :type => :reset, :class => "btn btn-default", "data-dismiss" => "modal", "aria-hidden" => "true"
