.row.img
  .span12{:style => "text-align:center;"}
    %img{:alt => "Creationline (Camboida) Co., Ltd", :src => "/assets/cl-logo.png", :title => "Creationline"}
.row
  .span12
    .section-title.seprator.text-center
      %h3
        %b CONTACT US NOW!
    .row-fluid
      .span12.text-center
        %h4.primary-color Creationline (Cambodia) Co., Ltd.
        %p
          No. 113, Mao Tse Toung Blvd (245), Parkway Square Center, Phnom Penh, Cambodia.
        %span.primary-color Office
        %span : (855) 23-986 498
        %br
          %span.primary-color Mobile
          %span : (855) 78-233 508
          %br
            %span.primary-color Email
            %span : info@cl-cam.com
            %br

:css
  .img {
    margin-top: 45px;
    padding-bottom: 40px;
  }
  .primary-color {
    color: #264a94;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title > h1, .section-title > h2, .section-title > h3, .section-title > h4, .section-title > h5, .section-title > h6 {
      background-color: #ecf0f1;
      color: #264a94;
      display: inline-block;
      font-size: 22px;
      line-height: 2em;
      margin: 0;
      padding: 0 25px;
      text-shadow: 0 1px 1px #ffffff;
  }
  .section-title.seprator {
      border-bottom: 2px solid #ecf0f1;
  }