:plain
  $(".form-modal").html("#{escape_javascript(render 'modal_receive', locals: @c, is_edit: true)}");
  $('#modalReceive').modal('show');
  $('#modalReceive').on('shown.bs.modal', function () {
    $("#coconut_nursery_input_output_high_qty").focus();
  });
