= simple_form_for @jack_fruit, url: jack_fruits_path, method: :get, html: {novalidate: true, class: 'form-inline'} do |f|
  .input-group.col-xs-5
    = f.input :code, as: :string, label: false, input_html: {class: "form-control", placeholder: "Search by code"}
    .input-group-btn
      = f.submit :Search, class: "btn btn-default"
