%table.table
  %tr.header
    %th Name
    %th Modules
  - roles.each do |role|
    %tr
      %td= role.name
      %td= role.note
      %td
        = link_to "Show", role_path(role), class: "btn btn-default"
        = link_to "Edit", edit_role_path(role), class: "btn btn-default"