#chart_div

#barchart_material{:style => "width: 400px; height: 200px;"}

= image_tag @line_chart

/ = pie_chart Role.group(:name).count

%div{:style => "width: 50px; block: inline"}

= image_tag @bar_chart
