/ = simple_form_for @farm, html: { class: "form-horizontal" } do |f|
/   .form-group
/     .col-xs-2
/       / = f.input :uuid, label: false, collection: @farms, input_html: {class: "form-control"}, selected: true
/       = f.input :uuid, label: false, collection: @farms, input_html: {class: "form-control"}, include_blank: true
/     .col-xs-2
/       = f.submit 'Submit', class: "btn btn-success", "data-disable-with" => "Submitting..."

= form_tag dashboards_path, :class => 'form-inline', :role => 'form', :method => 'get' do
  .form-group{style: "padding-left: 0; padding: 2px 0 5px 0;"}
    .input-group
      = select_tag "farm_id", options_for_select(@farms.map {|value| [ value.name, value.uuid ] }, :selected => params[:farm_id]), class: 'form-control', style:"border-radius: 4px;", :prompt => 'All'
  = submit_tag 'filter', :class => 'btn btn-success', :name => nil

.row
  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Recent Activities
        
      .panel-body{:style => "width: 100%; height: 190px"}
        %p Show Recent Activities from Farm...      

  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Projects
      .panel-body{:style => "width: 100%; height: 190px"}
        / - @blocks_scope.each do |b|
        /   %h4{style: "font-weight: bold;"}= "+ " + b.farm.name + " ; " + b.planting_project.project_name
        /   %p= "Surface: " + b.surface.to_s + " ; Tree Amount: " + b.tree_amount.to_s

        %div
          - @foos.each do |foo|
            =foo.project_name + " - " + foo.total_surface.to_s + " - " + foo.total_tree.to_s

.row
  .col-xs-12
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: Black"} Weathers
             
      .panel-body{:style => "width: 100%; height: 190px"}
        

/ .row
/   .col-xs-6
/     .panel.panel-default
/       .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
/         %h3.panel-title{:style => "font-weight: bold; color: Black"} Resource in stock
/         = link_to '<i class="fa fa-file-excel-o fa-2x" style="float: right; margin-top: -20px; color: black; padding-left: 5px" title="Download Graph as Excel"></i>'.html_safe, download_piechart_excel_dashboards_path
/         = link_to '<i class="fa fa-file-pdf-o fa-2x" style="float: right; margin-top: -20px; color: black" title="Download Graph as PDF"></i>'.html_safe, downloadpdf_dashboards_path     
/       .panel-body
/         #chart_div{:style => "width: 100%; height: 190px"}

/   .col-xs-6
/     .panel.panel-default
/       .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
/         %h3.panel-title{:style => "font-weight: bold; color: Black"} Projects
/       .panel-body

/ .row
/   .col-xs-6
/     .panel.panel-default
/       .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
/         %h3.panel-title{:style => "font-weight: bold; color: Black"} Production rate
/         = link_to '<i class="fa fa-file-excel-o fa-2x" style="float: right; margin-top: -20px; color: black; padding-left: 5px" title="Download Graph as Excel"></i>'.html_safe, download_barchart_excel_dashboards_path
/         = link_to '<i class="fa fa-file-pdf-o fa-2x" style="float: right; margin-top: -20px; color: black" title="Download Graph as PDF"></i>'.html_safe, downloadpdf_dashboards_path
/       .panel-body     
/         #columnchart_values{:style => "width: 100%; height: 190px"}

/   .col-xs-6
/     .panel.panel-default
/       .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
/         %h3.panel-title{:style => "font-weight: bold; color: Black"} Production rate
/       .panel-body
/         #curve_line_chart{:style => "width: 100%; height: 190px"}
