.row
  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: DimGray"} Resource in stock
      .panel-body
        / = link_to "PDF", downloadpdf_dashboards_path, title: "Download Graph as PDF",class: "btn btn-primary btn-xs"
        = link_to "EXCEL", downloadexcel_dashboards_path, title: "Download Graph as Excel", class: "btn btn-primary btn-xs"
        #chart_div

  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: DimGray"} Projects
      .panel-body
        #curve_line_chart
.row
  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: DimGray"} Production rate
      .panel-body
        / = link_to "PDF", downloadpdf_dashboards_path, title: "Download Graph as PDF",class: "btn btn-primary btn-xs"
        = link_to "EXCEL", downloadexcel_dashboards_path, title: "Download Graph as Excel", class: "btn btn-primary btn-xs"
        #columnchart_values
        / #columnchart_values{:style => "width: 600px; height: 400px"}

  .col-xs-6
    .panel.panel-default
      .panel-heading{:style => "background-color:PaleGreen;font-weight: bold"}
        %h3.panel-title{:style => "font-weight: bold; color: DimGray"} Production rate
      .panel-body

