.row
  %h3= "#{@tractor.name}"
  %hr
.row
  .col-lg-9
    = render partial: 'maintenance', locals: {machinery: @tractor, maintenance_type: 'tractor', maintenances: @maintenances}
  .col-lg-3
    = render partial: 'description_tractor', locals: {tractor: @tractor}