= form_for(warehouse_item_transaction, remote: true, html: {role: :form, 'data-model' => 'farm', :class => "form-horizontal"}) do |f|
  .form-group.form-center
    %label.col-xs-2.control-label Reason *
    .col-xs-10
      = f.text_area :reason_for_closing_transaction, label: false, class: "form-control", error_html: { class: "err_msg" }, cols: "500", rows: "5", id: "reason_text_area"
  .form-group.form-center
    .col-xs-12
      .pull-right
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        = f.submit "OK", :class => "btn btn-primary"
/   .form-group
/     %label.col-xs-2.control-label Request To *
/     .col-xs-5
/       = f.input :receiver_id, label: false, collection: @warehouses, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true, disabled: true
/     %span.help-block= f.error :receiver_id
/   .form-group
/     %label.col-xs-2.control-label Material *
/     .col-xs-5
/       = f.input :material_id, label: false, collection: @materials, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true, disabled: true
/     %span.help-block= f.error :material_id
/   .form-group
/     %label.col-xs-2.control-label Requested Quantity *
/     .col-xs-5
/       .input-group
/         = f.input :amount, label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true
/         %span.input-group-addon.uom-name-receive
/     %span.help-block= f.error :amounta
/   .form-group
/     %label.col-xs-2.control-label Remaining Quantity *
/     .col-xs-5
/       = f.input :remaining_amount, label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true
/     %span.help-block= f.error :remaining_amount  

/   .form-group
/     %label.col-xs-2.control-label Request Date
/     .col-xs-5
/       = f.text_field :requested_date, label: false, :class => "form-control", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, input_html: { class: "form-control" }, readonly: true, error_html: { class: "err_msg" }, readonly: true
/     %span.help-block= f.error :requested_date
/   .form-group
/     %label.col-xs-2.control-label Receive Date
/     .col-xs-5
/       = f.text_field :received_date, label: false, :class => "form-control", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, error_html: { class: "err_msg" }, readonly: true, :input_html => { class: "form-control" }, value: Date.today 
/   .form-group
/     %label.col-xs-2.control-label Due Date *
/     .col-xs-5
/       .controls
/         = f.text_field :due_date, data: { :date_format => 'YYYY-MM-DD' }, :class => 'form-control date_pick', placeholder: 'Year-Month-Day', error_html: { class: "err_msg" }, readonly: true
/       %span.help-block= f.error :due_date
/   .form-group
/     %label.col-xs-2.control-label Request Number *
/     .col-xs-5
/       = f.input :requested_number, label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true
/     %span.help-block= f.error :requested_number
/   .form-group
/     %label.col-xs-2.control-label Note
/     .col-xs-5
/       = f.input :note, label: false, input_html: { class: "form-control" }, error_html: { class: "err_msg" }, readonly: true
/     %span.help-block= f.error :note   
/   / .form-group
/   /   .col-xs-5
/   /     = f.input :received_date, label: false, :class => "form-control", :type => "text", error_html: { class: "err_msg" }, readonly: true, as: :hidden, :input_html => { value: Date.today }
/   /   %span.help-block= f.error :received_date            
/   .form-group
/     .col-xs-5
/       = f.input :updated_by, as: :hidden, :input_html => { :value => current_user.uuid }
/       %span.help-block= f.error :updated_by            
