= simple_form_for @warehouse_item_transaction, url: warehouse_item_requested_transactions_path, method: :get, html: {novalidate: true, class: 'form-inline'} do |f|
  .input-group.col-xs-5
    = f.input :requested_number, as: :string, label: false, input_html: {class: "form-control", placeholder: "Search by requested number"}
    .input-group-btn
      = f.submit :Search, class: "btn btn-default"