%table.table
  %thead
    %tr
      %th= "Name"
      %th= "Action"
  %tbody
    - @implement_types.each do |implement_type|
      %tr
        %td= implement_type.name
        %td= link_to "Edit", edit_implement_type_path(implement_type)
