.row
  %h3
    = "Implement Type"
    .pull-right
      = link_to "New ImplementType", new_implement_type_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
