.row
  %h1
    = "Equipment Type"
    .pull-right
    - if can? :update, EquipmentType
      = link_to "New Equipment Type", new_equipment_type_path, class: "btn btn-primary"
    
  %hr
  = render partial: 'list'