/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "override_bootstrap";

.cs-border{
  border: 1px #cccccc solid;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}