/*
 *= require_tree .
 *= require_self
 */

#delete-confirm.modal-dialog-center {
  width: 100%;
}

#delete-confirm.modal-content {
  margin-left: 70px;
  width: 400px;  
}

#delete-confirm.modal-header {
  height: 50px;
  font-size: 18px;
}

#delete-confirm.modal-body {
  height: 50px;
}

.activity-title {
  font-size: 17px;
  color: #737272;
}

.no-border{
  outline: 0;
  hight: 20px;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.activity-label {
  padding-top: 7px;
}

/*.form-group .control-label {
  width: 170px;
}*/

.navbar-inverse {
  background-color: #008400;
  border-color: #008400;
  color: #FFF;
  a {
    color: #FFF;
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #008400;
  color: white;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.nav > .active > a {
  background-color: #EEEEEE;
  z-index: -100;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  color: #777;
  border-top: 1px solid #E5E5E5;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 32px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}
 
.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.notification_container{
  padding: 0px 10px;
}