.custom-page-header{
	padding-bottom: 0px;
	margin: 0px 0px 5px 0px;
}
.custom-h3{
	margin: 5px 0px;
}

.custom-h4{
	margin: 5px 10px;
}

.box-farm-info {
	margin: 10px 0px 5px 0px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.text-color-green {
  color: green;
  text-decoration: none;
  &:hover, &:active {
    color: green;
    text-decoration: none;
  }
}
.farm-info{
	padding: 0px 20px 5px 20px;
}
.farm-map{
	
}
.map {
	height: 250px;
	margin: 0px 5px 0px 5px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
.custom-thumbnail {
	padding: 0px;
	border: none;
	margin-bottom: 5px;
}
.modal {
overflow-y: hidden;
}

.custom-modal-body {
	padding: 0px 0px 0px 0px;
}

.custom-modal-footer {
    margin-top: 0px;
	padding: 10px 0px 0px 0px;
}
.icon-green{
	color: green;
}
.icon-brown{
	color: #B57500;	
}
.custom-alert-msg {
	padding: 0px 10px;
	margin-bottom: 0px;
}

#map-farm {
  height:300px;
}