.sub-category-space-left{
  padding-left: 20px !important;
}
h1{
  font-size: 20px;
}
.report-material{
  margin-top: 20px;
}

a#print_preview{
  cursor: pointer;
}

@media print{
  * { margin: 0 !important; padding: 0 !important; }

  @page {
    margin: 0;
    size: A4 portrait;
  }

  #print-input-use-report{ display: none;}
  h1.filter-bar-input-use{ display: none;}

  h1{
    margin-left: 70px !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
  }

  .sub-category-space-left{
    padding-left: 20px !important;
  }

  .report-material{
    width: 900px !important;
    margin-left: 70px !important;
  }
}