a#print_preview {
    cursor: pointer;
    /*display: block;*/
    margin: -42px 0 20px;
    padding: 0 0 0 35px;
    line-height: 20px;
}

@page { 
    size: landscape;
}

/*.table-input-use {
    border: 1px solid black;
}
#table-report{
	width: 100%
}
.table-header{
	width: 100%;
	text-align: center;
	border: 1px solid black;
	border-bottom: none;
}*/

/*a#print_preview {
    cursor: pointer;
    margin: -42px 0 20px;
    padding: 0 0 0 35px;
    line-height: 20px;
}*/

/*th{
	color: #013ADF;
    font-size: 16px;
}*/

