// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.farm_id {
  width: 180px;
  margin-left: -20px;
}

.margin-year {
  margin-left: -45px;
}

#plan_farm_for_year {
  width: 70px;
}

.margin-zone {
  margin-left: -15px;
}

.zone-list {
  width: 90px;
  margin-left: -20px;
}

.margin-phase {
  margin-left: -65px;
}

.phase_id {
  width: 250px;
  margin-left: -20px;
}

.margin-stage {
  margin-left: -35px;
}

.stage-list {
  width: 200px;
  margin-left: -20px;
}