// Place all the styles related to the PlanFarms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-location {
  overflow: visible;
}

.col-md-1 h4 {
  padding-top: 25px;
}

.error-locations{
  width: 400px;
  margin: 0 auto;
}