// Place all the styles related to the production_plan_report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.first-col-table{
  margin-left: 20px;
  white-space: nowrap; 
  text-align: center;
  background-color: #8496b0;
}

.other-col-table{
  padding: 0;
  white-space: nowrap;
  text-align: center;
  background-color: #8496b0;
}

.td-value-table{
  padding: 0;
  white-space: nowrap; 
  text-align: center;
}

