.farm-info{
  padding: 0px 20px 5px 20px;
}

.form-center {
  padding-right: 20px;
}

.modal-header-color {
  background: #ffa500;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.label-header {
  font-size: 17px;
}