.row
  %h3
    = "Materials"
    .pull-right
      - if can? :create, Material
        = link_to "New Material", new_material_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
