= simple_form_for @activity, url: activities_path, method: :get, html: {novalidate: true, class: 'form-inline'} do |f|
  .input-group.col-xs-5
    = f.input :activity_type_uuid, as: :string, label: false, input_html: {class: "form-control", placeholder: "Search by Activity Name"}, label_method: :name
    .input-group-btn
      = f.submit :Search, class: "btn btn-default"
