= simple_form_for @activity, url: activities_path, method: :get, html: {novalidate: true, class: 'form-inline'} do |f|
  .input-group.col-xs-5
    .input-group.date.date_pick
      = f.text_field :starts_at, :class => "form-control", :type => "text", :data => {:date_format => "YYYY-MM-DD"}, :placeholder => "Search by date", :readonly => true
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
    .input-group-btn
      = f.submit :Search, class: "btn btn-default"

:javascript
  $(document).ready(function() {
    $(function () {
      $('.date_pick').datetimepicker({
        pickTime: false
      });
    });
  });      