.row
  %h3
    = "Activity"
    .pull-right
      - if can? :create, Activity
        = link_to "Log Activity", calendars_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
