.col-lg-12
  %ol.breadcrumb.breadcrumb-sm
    = render_breadcrumbs :separator => " / "
    .pull-right.lg-icon
      %span
        %i.fa.fa-bars.icon-brown
        = link_to "Farms", farms_path
        %span.badge.progress-bar-success.farm_count= @farms_amount.inspect