%li
  %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    %i.fa.fa-clock-o.fa-lg
    %span.badge.progress-bar-info 15
  %ul.dropdown-menu.dropdown-custom-width{:role => "menu"}
    %li.dropdown-header.dropdown-header-custom-font.bg-color-blue.text-color-white Current Tasks
    %li.divider
    .container-fluid.notification_container
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          %h5{:style => "margin: 5px 0px;"}
            %span.label.label-info{:style => "line-height: 10px;"}
              %i.fa.fa-clock-o
              03/Feb/2015
          %p.p-line-height
            Due date for payout of expense is approaching:Tractor001
      %li.divider
      %li
        %a.all-notification-style{:href => "#"}
          .text-center Show All Reminders