- if obj.errors.any?
  #error_explanation.panel.panel-danger.error_panel
    .panel-heading
      %h3.panel-title
        = pluralize(obj.errors.count, "error")
        prohibited this data from being saved:
    .panel-body
      %ul
        - obj.errors.messages.values.each do |message|
          - message.each do  |m|
            %li= m