= simple_form_for maintenance, html: {class: 'form-horizontal', multipart: true} do |f|
/   .form-group
/     %label.col-xs-2.control-label{for: 'maintenance_name'} Name
/     .col-xs-5
/       = f.input :name, label: false, input_html: {class: "form-control"}
/       %span.help-block= f.error :name
/   