%ul.nav.navbar-nav.navbar-right.custom-navbar-right
  / = render "reminders_notification"
  / = render "correction_request_notification"
  / = render "current_tasks_notification"
  %li.dropdown
    %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      - current_name = current_user.email.split('@')
      = current_name.first
      %i.fa.fa-user.fa-lg
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      %li
        - if can? :read, User 
          = link_to labor_path(current_user.labor) do
            %i.fa.fa-info-circle.fa-lg
            My Profile
      %li
        - if can? :edit_profile, current_user
          = link_to edit_profile_user_path(current_user.id) do
            %i.fa.fa-gear.fa-lg
            Setting
      %li
        = link_to destroy_user_session_path, :method => :delete do
          %i.fa.fa-sign-out.fa-lg
          Sign Out