#sidebar.sidebar-offcanvas{:role => "navigation"}
  .sidebar-nav
    %ul.nav
      %li MANAGE
      %li.active
        = link_to "Dashboard", dashboards_path
      %li
        = link_to "Machinery", machineries_path
