#sidebar.sidebar-offcanvas{:role => "navigation"}
  .sidebar-nav
    %ul.nav
      %li OVERVIEW
      %li.active
        %a{:href => "#"} Dashboard
      %li
        %a{:href => "#"} Map
      %li
        %a{:href => "#"} Calender
      %li CROPS
      %li
        %a{:href => "#"} Fields
      %li
        %a{:href => "#"} Activity
      %li PRE SETUP
      %li
        %a{:href => "#"} Zone
      %li
        = link_to 'Resource', resources_path
      %li STORE MANAGEMENT
      %li
        / - if can? :manage, WarehouseType
        = link_to 'Warehouse Type', warehouse_types_path
      %li
        / - if can? :manage, Warehouse
        = link_to 'Warehouse', warehouses_path
      
