.row
  %h1
    = "Plan"
    .pull-right
      - if can? :create, Plan
        = link_to "New Plan", new_plan_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
