.row
  %h1
    = "Labor"
    .pull-right
      - if can? :create, Labor
        = link_to "New Labor", new_labor_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'
