.row
  .form-group
    %label.col-xs-2.control-label.text-left Material Category *
    .col-xs-4
      %select.form-control.material_category_uuid
        %option{:value => ""}
        - @material_categories.each do |material_category|
          %option{:value => material_category.uuid}
            = material_category.name

.row
  .form-group.material-name
    %label.col-xs-2.control-label.text-left  

    %table.table
      %th Material Name
      %input{:name => "warehouse_amount", :id => "warehouse_amount", :type => "hidden", :value => @warehouse_amount}/
      - @warehouses.each do |wh|
        %th#warehouse-id{uuid: wh.uuid}= wh.name
      %tbody.material_name





/ :javascript
/   $(document).ready(function() {
/     $('.material_id').change(
/       function() {
/         var material_id = $(".material_id").val();
/         jQuery.ajax({
/           url: "/get_warehouse_data",
/           type: "GET",
/           data: {"material_id" : material_id},
/           dataType: "json",
/           success: function(data){
/             $.each(data, function(i, value) {
/               $(".warehouse_uuid").val(value.uuid);
/               $(".warehouse_name").val(value.name);
/             });
/           }
/         });
/       }
/     );

/   });