.row
  %h3
    = "Warehouse"
    .pull-right
      - if can? :create, Warehouse
        = link_to "New Warehouse", new_warehouse_path, class: "btn btn-primary"
  %hr
  = render partial: 'form_search'
  %hr
  = render partial: 'list'