.row
  %h1= "WarehouseType"
  %hr
.row
  = render partial: 'list_warehouse', locals: { warehouses: @warehouses }
  - if can? :create, Warehouse
    = link_to "New Warehouse", new_warehouse_path, class: "btn btn-primary"
    = link_to "Edit Warehouse", edit_warehouse_path, class: "btn btn-primary"